
/*fonts style start here*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
  font-family: "Poppins", sans-serif;
  /* background-color: black; */
}
/*fonts style end here*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primary-button{
  color: #e6533c;

}
.Header-container{
  max-width: 100%;
  height: 700px;
  /* border: 2px solid red; */
  background-color: black;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  height: 46px;
  margin: 0 auto;
  padding-top: 70px;
}
.navbar-headline{
  color: #e6533c ;
  width: 135px;
  height: 45px;
  font-size: 45px;
  font-weight: 800px;
}
.navbar-ul{
  display: flex;
  gap: 50px;
}

nav ul{
  list-style-type: none;
  align-items: center;
  
}

nav li a{
  text-decoration: none;
  color: white;
}
.fitness-home-button{
  width: 95px;
  height: 45px;
  background-color: #e6533c;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 46px;
}
.fitness-service-nav{
  font-size: 20px;
  font-weight: 600;
}
.banner-container{
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  height: 440px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 95px;
}
.main-banner{
  width: 600px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-heading{
  color: white;
  font-size: 70px;
  font-weight: 900;
  gap: 10px;
}
.shape-hidden{
  color: black;
}
.banner-shape-style{
  font-family: 'Miama', sans-serif;
  font-size: 160px;
  font-weight: 400;
  position: absolute;
  top: 270px;
  left: 140px;
}
.banner-discription{
  color: white;
}
.header-img{
  position: absolute;
  right: 140px;
  bottom: 73px;
}
.vedio-card{
  width: 220px;
  height: 105px;
  border: 2px solid red;
}
.red-icon-card{
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
}
.text-card h2{
  font-size: 24px;
  font-weight: 900;
}
.text-card p{
  color: #aea9a5;
}
.workout-card{
  width: 220px;
  height: 105px;
  border: 2px solid red;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background-color: black;
  color: white;
}

/* header ends here */

/* section 1 start here */
.havits-headline{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.Run-exercise-container{
  display: flex;
}
.run-exercise-img{
 width: 25%;
}
/* Meet our team trainer section start here */
.Team-trainer-container{
  max-width: 1320px;
  height: 970px;
  margin: 0 auto;
  border: 2px solid red;
}
.grettings{
  max-width: 671px;
  height: 120px;
  border: 2px solid red;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
}
.trainer-image{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px 20px;
  border: 2px solid red;
}
.trainer-image img{
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 18px;

}
/* Trainer image 1 start here */
.trainer1-img-container{
  position: relative;
  display: inline-block;
}
.trainer-1{
  width: 100%;
  height: auto;
}
.trainer1-heading{
  position: absolute;
  top: 65%;
  color: white;
  margin-left: 25px;
}
.trainer1-discription{
  position: absolute;
  top: 75%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 1 ends here */
/* Trainer image 2 start here */
.trainer2-img-container{
  position: relative;
  display: inline-block;
}
.trainer-2{
  width: 100%;
  height: auto;
}
.trainer2-heading{
  position: absolute;
  top: 65%;
  color: white;
  margin-left: 25px;
}
.trainer2-discription{
  position: absolute;
  top: 75%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 2 ends here */
/* Trainer image 3 start here */
.trainer3-img-container{
  position: relative;
  display: inline-block;
}
.trainer-3{
  width: 100%;
  height: auto;
}
.trainer3-heading{
  position: absolute;
  top: 65%;
  color: white;
  margin-left: 25px;
}
.trainer3-discription{
  position: absolute;
  top: 75%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 3 ends here */
/* Trainer image 4 start here */
.trainer4-img-container{
  position: relative;
  display: inline-block;
}
.trainer-4{
  width: 100%;
  height: auto;
}
.trainer4-heading{
  position: absolute;
  top: 65%;
  color: white;
  margin-left: 25px;
}
.trainer4-discription{
  position: absolute;
  top: 75%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 4 ends here */
/* Trainer image 5 start here */
.trainer5-img-container{
  position: relative;
  display: inline-block;
}
.trainer-5{
  width: 100%;
  height: auto;
}
.trainer5-heading{
  position: absolute;
  top: 65%;
  color: white;
  margin-left: 25px;
}
.trainer5-discription{
  position: absolute;
  top: 75%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 5 ends here */
/* Trainer image 6 start here */
.trainer1-img-container{
  position: relative;
  display: inline-block;
}
.trainer-6{
  width: 100%;
  height: auto;
}
.trainer6-heading{
  position: relative;
  top: -24%;
  color: white;
  margin-left: 25px;
}
.trainer6-discription{
  position: relative;
  top: -20%;
  color: white;
  margin-left: 25px;
}
/* Trainer image 6 ends here */

/* Footer start start */
.Footer-container{
  max-width: 100%;
  height: 490px;
  border: 2px solid red;
  background-color: black;
}
.Footer-service{
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: 1320px;
  height: 250px;
  margin: 0 auto;
  margin-top: 70px;
  border: 2px solid red;
}
.Footer-title-1{
  
  width: 462px;
  height: 175px;
}
.Footer-fitness-heading{
  width: 255px;
  height: 85px;
  font-weight: 800;
  font-size: 70px;
  color: #e6533c;
}
.Footer-title-1-dis{
  
}
.Footer-title-2{
  border: 2px solid red;
  width: 185px;
  height: 250px;
}
.Footer-title-3{
  border: 2px solid red;
  width: 185px;
  height: 250px;
}
.Footer-hr{
color: white;
max-width: 1320px;
margin: 0 auto;
margin-top: 70px;
}
.footer-copyright{
  max-width: 310px;
  height: 25px;
  margin: 0 auto;
  color: white;
  margin-top: 36px;
}
/* Footer ends here */